<div class="container">
<div class="row mt-4">
    <div class="col">
        <h2>Photo : <%= @item.title %></h2>
    </div>
</div>
</div>
<div class="container">
  <div class="row align-items-center">
    <br>
    <div class="col-7">
        <img class="img-responsive" style="width:100%;" src="<%= @item.image_url %>" alt="">
    </div>
    <div class="col-5 order-first">
        <p><%= @item.description %></p>
        <br>
        <h5 class="card-text"> Prix de la photo: <%= @item.price %>€</h5>
        <button type="button" class="btn btn-white btn-sm border border-dark">
              <%= link_to 'Ajouter au panier', item_cart_items_path(@item.id), method: :post%>
            </button>
    </div>
  </div>
</div>